# composer
/vendor/

# Uploads
/public/uploads/*
/public/uploads/.gitkeep

# Pastas de IDE
nbproject
.buildpath
.project
.settings
.komodotools
.idea
.vscode
.metadata

# Extensoes de IDE
*.swp
*.sublime-project
*.sublime-workspace
*.kpf
*.komodoproject

# docker
.env
mongod.conf
/dump
